---
layout: null
---

<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta content="Awesome R" property="og:title">
	<meta content="A collection of awesome R packages, frameworks and software" name="description">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://aws-r.com">
	<meta name="twitter:title" content="Awesome R">
	<meta name="twitter:description" content="A collection of awesome R packages, frameworks and software.">
	<meta name="twitter:image" content="./Rlogo.png">


	<meta property="og:url" content="https://awesome-r.com/trending.html">
	<meta property="og:title" content="Awesome R - Find Great R Packages">
	<meta property="og:description" content="A collection of awesome R packages, frameworks and software.">
	<meta property="og:site_name" content="Awesome R">
	<meta property="og:image" content="https://awesome-r.com/Rlogo.png">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="fb:admins" content="100001323841762" />

	<title>Awesome R - Find Trending R Packages</title>
	<meta name="description" content="Find great R packages quickly and easily. A curated list of awesome R packages, and tools.">
	<meta name="keywords" content="R, package, tutorial, Open Source, list, find R package" />

	<link rel="shortcut icon" href="https://cran.r-project.org/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://cran.r-project.org/favicon.ico" type="image/x-icon">

	{% include inline.html %}

	<script>
    if (repozz !== undefined && filezz !== undefined) {

    } else {
      Flatdoc.run({
        fetcher: Flatdoc.github('qinwf/awesome-r', "misc/r-trending.md")
      });
    }
  </script>


</head>

<body role='flatdoc' class='no-literate large-brief'>
	<div class='header'>
		<div class='left' itemscope="" itemtype="http://schema.org/BreadcrumbList" role="navigation">
			<img src="./images/Rlogo.svg" width="40" height="40" style="border-radius: 15px; filter: hue-rotate(100deg);  -webkit-filter: hue-rotate(100deg);">
			<ul>
				<li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
					<a href='./index.html' itemprop="url">
						<span>Awesome R</span>
						<meta itemprop="name" content="Home">
						<meta itemprop="position" content="1">
					</a>
				</li>
				<li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
					<a href='./trending.html' itemprop="url">
						<span itemprop="name">Trending</span>
						<meta itemprop="position" content="2">
					</a>
				</li>
				<li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
					<a href='./posts.html' itemprop="url">
						<span itemprop="name">Posts</span>
						<meta itemprop="position" content="3">
					</a>
				</li>
				<li>
					<div class="dropdown">
						<a href="#" class="dropbtn">More</a>
						<div id="includedContent" class="dropdown-content">
							{% include nav.html %}
						</div>
					</div>
				</li>
				<li itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
					<a href='https://github.com/qinwf/awesome-r/edit/master/README.md' itemprop="url">
						<span itemprop="name">Edit</span>
						<meta itemprop="position" content="4">
					</a>
				</li>
			</ul>
		</div>
		<div class='right'>
			<iframe src="//ghbtns.com/github-btn.html?user=qinwf&repo=awesome-r&type=watch&count=true" allowtransparency="true" frameborder="0"
				scrolling="0" width="110" height="20"></iframe>
			<iframe src="//ghbtns.com/github-btn.html?user=qinwf&repo=awesome-r&type=fork&count=true" allowtransparency="true" frameborder="0"
				scrolling="0" width="100" height="20"></iframe>
			<share-button>Share</share-button>

			<script>
        var shareButton = new ShareButton({
          ui: {
            flyout: "bottom left"
          },
          networks: {
            pinterest: {
              enabled: false
            }
          }
        });
      </script>
		</div>
	</div>

	<div class='content-root'>
		<div class='menubar'>
			<div class='menu section' role='flatdoc-menu'>
				<ul>
					<li class="level-0" id="root-item">
						<ul id="root-list" class="level-1">
							<li class="level-1" id="top-starred-r-github-repos-to-follow-item"><a class="level-1" href="#top-starred-r-github-repos-to-follow" id="top-starred-r-github-repos-to-follow-link">Top-Starred R GitHub Repos to Follow</a>
								<ul id="top-starred-r-github-repos-to-follow-list" class="level-2">
									<li class="level-2" id="top-starred-r-github-repos-to-follow-trending-item"><a class="level-2" href="#top-starred-r-github-repos-to-follow-trending" id="top-starred-r-github-repos-to-follow-trending-link">Trending</a></li>
									<li class="level-2" id="top-starred-r-github-repos-to-follow-all-time-item"><a class="level-2" href="#top-starred-r-github-repos-to-follow-all-time" id="top-starred-r-github-repos-to-follow-all-time-link">All-Time</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
<div role="flatdoc-content" class="content"><h1 id="top-starred-r-github-repos-to-follow">Top-Starred R GitHub Repos to Follow</h1><p>Generated biweekly from <a href="https://github.com/qinwf/awesome-R/blob/master/trending_repo.R" target="_blank" class=" externalLink">R code</a>.</p><h2 id="top-starred-r-github-repos-to-follow-trending">Trending</h2><p><strong>Trending from 2016-11-12 to 2016-12-12</strong></p><ol>
<li><a href="https://github.com/yihui/xaringan" target="_blank" class=" externalLink">yihui/xaringan</a> <strong>97</strong><br>Presentation Ninja 幻灯忍者 · 写轮眼</li>
<li><a href="https://github.com/zonination/skittles" target="_blank" class=" externalLink">zonination/skittles</a> <strong>62</strong><br>Counts of Skittles</li>
<li><a href="https://github.com/gaborcsardi/notifier" target="_blank" class=" externalLink">gaborcsardi/notifier</a> <strong>54</strong><br>Cross platform desktop notifications from R</li>
<li><a href="https://github.com/jtleek/slipper" target="_blank" class=" externalLink">jtleek/slipper</a> <strong>47</strong><br>Tidy and easy bootstrapping</li>
<li><a href="https://github.com/psolymos/intrval" target="_blank" class=" externalLink">psolymos/intrval</a> <strong>28</strong><br>Relational Operators for Intervals</li>
<li><a href="https://github.com/HenrikBengtsson/startup" target="_blank" class=" externalLink">HenrikBengtsson/startup</a> <strong>26</strong><br>:wrench: R package: startup - Friendly R Startup Configuration</li>
<li><a href="https://github.com/gaborcsardi/prettycode" target="_blank" class=" externalLink">gaborcsardi/prettycode</a> <strong>24</strong><br>Syntax highlight R code in the terminal</li>
<li><a href="https://github.com/WinVector/replyr" target="_blank" class=" externalLink">WinVector/replyr</a> <strong>19</strong><br>An R package for fluid use of dplyr. </li>
<li><a href="https://github.com/r-pkgs/roxygen2md" target="_blank" class=" externalLink">r-pkgs/roxygen2md</a> <strong>15</strong><br>Convert elements of roxygen documentation to markdown</li>
<li><a href="https://github.com/goldingn/greta" target="_blank" class=" externalLink">goldingn/greta</a> <strong>13</strong><br>Probabilistic Modelling with TensorFlow</li>
<li><a href="https://github.com/davpinto/fastknn" target="_blank" class=" externalLink">davpinto/fastknn</a> <strong>13</strong><br>Fast k-Nearest Neighbor Classifier for Large Datasets</li>
<li><a href="https://github.com/ezgraphs/ggguitar" target="_blank" class=" externalLink">ezgraphs/ggguitar</a> <strong>13</strong><br>Guitar Tablature and </li>
<li><a href="https://github.com/wf835334/Water_plot" target="_blank" class=" externalLink">wf835334/Water_plot</a> <strong>13</strong><br>Simple script that uses GIS data from the USGS to plot U.S. water bodies </li>
<li><a href="https://github.com/brendan1mcmanus/trump_speeches" target="_blank" class=" externalLink">brendan1mcmanus/trump_speeches</a> <strong>12</strong><br></li>
<li><a href="https://github.com/cloudyr/aws.polly" target="_blank" class=" externalLink">cloudyr/aws.polly</a> <strong>12</strong><br>Client for AWS Polly</li>
<li><a href="https://github.com/longhowlam/OCRinShiny" target="_blank" class=" externalLink">longhowlam/OCRinShiny</a> <strong>9</strong><br>OCR an image and get a word cloud</li>
<li><a href="https://github.com/timelyportfolio/vueR" target="_blank" class=" externalLink">timelyportfolio/vueR</a> <strong>9</strong><br>vue.js for R</li>
<li><a href="https://github.com/bkvarda/kudusparklyr" target="_blank" class=" externalLink">bkvarda/kudusparklyr</a> <strong>7</strong><br>A Kudu extension for Sparklyr</li>
<li><a href="https://github.com/heike/ggmapr" target="_blank" class=" externalLink">heike/ggmapr</a> <strong>6</strong><br></li>
<li><a href="https://github.com/StuartGordonReid/emh" target="_blank" class=" externalLink">StuartGordonReid/emh</a> <strong>6</strong><br>An R Package for testing the Efficient Market Hypothesis</li>
<li><a href="https://github.com/ropenscilabs/geofilter" target="_blank" class=" externalLink">ropenscilabs/geofilter</a> <strong>5</strong><br>filter/sift GeoJSON in R</li>
<li><a href="https://github.com/capt-calculator/CA_WARN_data" target="_blank" class=" externalLink">capt-calculator/CA_WARN_data</a> <strong>5</strong><br></li>
<li><a href="https://github.com/MarkEdmondson1234/youtubeAnalyticsR" target="_blank" class=" externalLink">MarkEdmondson1234/youtubeAnalyticsR</a> <strong>5</strong><br>YouTube Analytics API into R</li>
<li><a href="https://github.com/surveillancer/shinysurveillance" target="_blank" class=" externalLink">surveillancer/shinysurveillance</a> <strong>5</strong><br>Shiny app to tune and select parameters for the different surveillance algorithms.</li>
<li><a href="https://github.com/neilcharles/chalkboard" target="_blank" class=" externalLink">neilcharles/chalkboard</a> <strong>5</strong><br>Football event data capture and illustration using R/Shiny</li>
<li><a href="https://github.com/toshi-k/kaggle-bosch-production-line-performance" target="_blank" class=" externalLink">toshi-k/kaggle-bosch-production-line-performance</a> <strong>5</strong><br>57th place solution in “Bosch Production Line Performance”</li>
<li><a href="https://github.com/BES2016Workshop/reproduciblecodeR" target="_blank" class=" externalLink">BES2016Workshop/reproduciblecodeR</a> <strong>5</strong><br>Materials for the Reproducible code in R breakout session of the Best Practice for Code Archiving workshop. 11 December 2016. </li>
<li><a href="https://github.com/infspiredBAT/ARResT" target="_blank" class=" externalLink">infspiredBAT/ARResT</a> <strong>5</strong><br>Antigen Receptors Research Tool / ARResT</li>
<li><a href="https://github.com/surveillancer/tutorials" target="_blank" class=" externalLink">surveillancer/tutorials</a> <strong>4</strong><br></li>
<li><a href="https://github.com/elliottmorris/Election-Results-Analysis-2016" target="_blank" class=" externalLink">elliottmorris/Election-Results-Analysis-2016</a> <strong>4</strong><br>County Level Election Results Analysis (2016) </li>
</ol><h2 id="top-starred-r-github-repos-to-follow-all-time">All-Time</h2><ol>
<li><a href="https://github.com/johnmyleswhite/ML_for_Hackers" target="_blank" class=" externalLink">johnmyleswhite/ML_for_Hackers</a> <strong>2733</strong><br>Code accompanying the book “Machine Learning for Hackers”</li>
<li><a href="https://github.com/tidyverse/ggplot2" target="_blank" class=" externalLink">tidyverse/ggplot2</a> <strong>2153</strong><br>An implementation of the Grammar of Graphics in R</li>
<li><a href="https://github.com/rstudio/shiny" target="_blank" class=" externalLink">rstudio/shiny</a> <strong>2021</strong><br>Easy interactive web applications with R</li>
<li><a href="https://github.com/swirldev/swirl_courses" target="_blank" class=" externalLink">swirldev/swirl_courses</a> <strong>1977</strong><br>:mortar_board: A collection of interactive courses for the swirl R package.</li>
<li><a href="https://github.com/twitter/AnomalyDetection" target="_blank" class=" externalLink">twitter/AnomalyDetection</a> <strong>1765</strong><br>Anomaly Detection with R</li>
<li><a href="https://github.com/qinwf/awesome-R" target="_blank" class=" externalLink">qinwf/awesome-R</a> <strong>1749</strong><br>A curated list of awesome R packages, frameworks and software.</li>
<li><a href="https://github.com/hadley/dplyr" target="_blank" class=" externalLink">hadley/dplyr</a> <strong>1528</strong><br>Dplyr: A grammar of data manipulation</li>
<li><a href="https://github.com/zonination/investing" target="_blank" class=" externalLink">zonination/investing</a> <strong>1515</strong><br>Investing Returns on the Market as a Whole</li>
<li><a href="https://github.com/hadley/devtools" target="_blank" class=" externalLink">hadley/devtools</a> <strong>1389</strong><br>Tools to make an R developer’s life easier</li>
<li><a href="https://github.com/yihui/knitr" target="_blank" class=" externalLink">yihui/knitr</a> <strong>1280</strong><br>A general-purpose tool for dynamic report generation in R</li>
<li><a href="https://github.com/szilard/benchm-ml" target="_blank" class=" externalLink">szilard/benchm-ml</a> <strong>1075</strong><br>A minimal benchmark for scalability, speed and accuracy of commonly used open source implementations (R packages, Python scikit-learn, H2O, xgboost, Spark MLlib etc.) of the top machine learning algorithms for binary classification (random forests, gradient boosted trees, deep neural networks etc.).</li>
<li><a href="https://github.com/toddwschneider/nyc-taxi-data" target="_blank" class=" externalLink">toddwschneider/nyc-taxi-data</a> <strong>832</strong><br>Import public NYC taxi and Uber trip data into PostgreSQL / PostGIS database, analyze with R</li>
<li><a href="https://github.com/ropensci/plotly" target="_blank" class=" externalLink">ropensci/plotly</a> <strong>810</strong><br>Create interactive web graphics from R via plotly’s JavaScript graphing library</li>
<li><a href="https://github.com/ramnathv/slidify" target="_blank" class=" externalLink">ramnathv/slidify</a> <strong>732</strong><br>Generate reproducible html5 slides from R markdown</li>
<li><a href="https://github.com/hadley/rvest" target="_blank" class=" externalLink">hadley/rvest</a> <strong>690</strong><br>Simple web scraping for R</li>
<li><a href="https://github.com/jrnold/ggthemes" target="_blank" class=" externalLink">jrnold/ggthemes</a> <strong>684</strong><br>ggplot themes and scales</li>
<li><a href="https://github.com/rstudio/rmarkdown" target="_blank" class=" externalLink">rstudio/rmarkdown</a> <strong>677</strong><br>Dynamic Documents for R</li>
<li><a href="https://github.com/amplab-extras/SparkR-pkg" target="_blank" class=" externalLink">amplab-extras/SparkR-pkg</a> <strong>623</strong><br>R frontend for Spark</li>
<li><a href="https://github.com/rich-iannone/DiagrammeR" target="_blank" class=" externalLink">rich-iannone/DiagrammeR</a> <strong>614</strong><br>Create graph diagrams and flowcharts using R</li>
<li><a href="https://github.com/genomicsclass/labs" target="_blank" class=" externalLink">genomicsclass/labs</a> <strong>597</strong><br>Rmd source files for the HarvardX series PH525x</li>
<li><a href="https://github.com/rstudio/ggvis" target="_blank" class=" externalLink">rstudio/ggvis</a> <strong>579</strong><br>Interactive grammar of graphics for R</li>
<li><a href="https://github.com/hadley/httr" target="_blank" class=" externalLink">hadley/httr</a> <strong>564</strong><br>httr: a friendly http package for R</li>
<li><a href="https://github.com/swirldev/swirl" target="_blank" class=" externalLink">swirldev/swirl</a> <strong>552</strong><br>:cyclone: Learn R, in R.</li>
<li><a href="https://github.com/google/CausalImpact" target="_blank" class=" externalLink">google/CausalImpact</a> <strong>545</strong><br>An R package for causal inference in time series</li>
<li><a href="https://github.com/mlr-org/mlr" target="_blank" class=" externalLink">mlr-org/mlr</a> <strong>535</strong><br>mlr: Machine Learning in R </li>
<li><a href="https://github.com/tidyverse/broom" target="_blank" class=" externalLink">tidyverse/broom</a> <strong>515</strong><br>Convert statistical analysis objects from R into tidy format</li>
<li><a href="https://github.com/rstudio/tensorflow" target="_blank" class=" externalLink">rstudio/tensorflow</a> <strong>508</strong><br>TensorFlow for R</li>
<li><a href="https://github.com/ujjwalkarn/DataScienceR" target="_blank" class=" externalLink">ujjwalkarn/DataScienceR</a> <strong>491</strong><br>a curated list of R tutorials for Data Science, NLP and Machine Learning </li>
<li><a href="https://github.com/tidyverse/magrittr" target="_blank" class=" externalLink">tidyverse/magrittr</a> <strong>459</strong><br>R package to bring forward-piping features ala F#’s |&gt; operator. Ceci n’est pas un pipe.</li>
<li><a href="https://github.com/tidyverse/readr" target="_blank" class=" externalLink">tidyverse/readr</a> <strong>455</strong><br>Read flat files (csv, tsv, fwf) into R</li>
</ol></div>
	</div>
	<script>
	external_links_func();
    if (repozz !== undefined && filezz !== undefined) {
      $('.menubar .menu')[0].innerHTML = ''
      $('.content')[0].innerHTML = ''
      getpages(userzz, reposs, filezz);
    }
  </script>
</body>

</html>