<style>
{% include main.css %}
{% include share-button.min.css %}
</style>

<script>
{% include jq.min.js %}
{% include legacy.js %}
{% include flatdoc.js %}
{% include app.js %}
{% include share-button.min.js %}
</script>

<link rel="dns-prefetch" href="//www.rstudio.com">
<link rel="dns-prefetch" href="//github.com">
<link rel="dns-prefetch" href="//cran.r-project.org">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76721549-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-76721549-1');
</script>

<script type="text/javascript">
var _paq = _paq || [];
_paq.push(["setDomains", ["*.awesome-r.com"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking', true]);
_paq.push(['enableHeartBeatTimer']);
_paq.push(['trackAllContentImpressions']);
(function() {
var u="//web.qin.wf/";
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['setSiteId', '2']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();


if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
    // Registration was successful
    console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }).catch(function(err) {
    // registration failed :(
    console.log('ServiceWorker registration failed: ', err);
    });
}
</script>
<noscript><p><img src="//web.qin.wf/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>

